<!DOCTYPE html>

<html>
  <head>
    <title>Register</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="scripts/register.js"></script>
  </head>
  <body>
    <form action="register_post.php" method="post">
      Benutzername:
      <br>
      <input id="user" type="text" name="user">
      <br>
      Passwort:
      <br>
      <input id="pw" type="password" name="pw">
      <br>
      <label>Note:</label>
      <div class="input-group">
	<span class="input-group-addon">
	  <i class="glyphicon glyphicon-education"></i>
	</span>
      <select class="form-control" name="grade">
	<option value="1">sehr gut</option>
	<option value="2">gut</option>
	<option value="3">befriedigend</option>
	<option value="4">ausreichend</option>
	<option value="5">mangelhaft</option>
	<option value="6">ungenügend</option>
      </select>
      </div>
      <input id="btn" type="submit" value="Registrieren"><br>
      <input id="second" type="button" value="Felder ausgeben">
    </form>
    <div id="output"></div>
  </body>
</html>
