html {
    height: 100%;
    background-image: url("https://static.pexels.com/photos/370799/pexels-photo-370799.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0% 20%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 100%
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

#locations {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#locations li {
    display: inline;
    margin-right: 25px;
}
